<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    {% verbatim myblock %}
    <div id="content">
        {{ message }}
        {{ project }}
        <br><hr style="border:2px solid orange">
        <a v-bind:href="link">别点</a>
        <br><hr style="border:2px solid orange">
        <a v-bind:href="link" v-bind:class="message">别点</a>
        <br><hr style="border:2px solid orange">
        <a v-bind:href="link" v-if="user">别点</a>
        <br><hr style="border:2px solid orange">
        <ul>
            <li v-for="number in project">{{ number }}</li>
        </ul>
        <br><hr style="border:2px solid orange">
        <a v-on:click="say_hello" v-if="user">别点</a>
        <input v-model="message">
        <p>{{ message }}</p>
    </div>
    {% endverbatim myblock %}
    <script>
        var app = new Vue({
            el:'#content',
            data:{
                message:'Hello Vue!',
                project:[1,2,3,4,5,6],
                link:"https://www.baidu.com",
                user:1,
                },
            methods:{
                say_hello:function(){
                    alert("hello world")
                }
            }

        })
    </script>
</body>
</html>