<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
    <script src="/static/js/jquery-1.11.0.js"></script>
</head>
<body>
    <!--
    <p>常规</p>
    {{ userform }}
    <hr style="color: orange">
    <p>p标签</p>
    {{ userform.as_p }}
    <hr style="color: orange">
    <p>ul类型</p>
    {{ userform.as_ul }}
    <hr style="color: orange">
    <p>table类型</p>
    {{ userform.as_table }}
    <hr style="color: orange">
    <p>循环类型</p>
    {% for field in userform %}
    <div>
        <span>{{ field.label }}</span>
        {{ field }}
    </div>
   {% endfor %}
    -->
    <form method="post" class="food_form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ foodform.as_p }}
         <p>
             <input type="submit" value="提交">
         </p>
    <hr style="border:solid 2px orange">

</body>
</html>