<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django</title>
    <style>
        .content{
          color:aqua;
            text-align: center;
         }

    </style>



</head>
<body>
     <h1 class="content">今天是学习Django的第二天</h1>
     <h2 style="color:red">
         你好{{ name }}:
     </h2>
     <h2 style="color:red">
         我是{{ other_name }}:
     </h2>
         <div>
            <p>变量的类型</p>
            <p>字符串：{{name}}</p>
            <p>列表：{{list_name}}</p>
            <p>元组：{{tuple_name}}</p>
            <p>字典：{{dict_name}}</p>
            <p>函数：{{fun_name}}</p>
            <p>类：{{class_name}}</p>
        </div>
        <hr style="border:5px solid orange">
           <div>
            <p>变量的方法</p>
            <p>字符串：{{name.upper.1}}</p>
            <p>列表：{{list_name.1}}</p>
            <p>元组：{{tuple_name.1}}</p>
            <p>字典：{{dict_name}}</p>
            <p>函数：{{fun_name}}</p>
            <p>类：{{class_name}}</p>
        </div>
</body>
</html>